<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Navigation</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans bg-gradient-to-b from-purple-400 to-pink-800 text-center text-gray-100 min-h-screen flex flex-col">

    <center>
    <h1 class="mt-20 text-4xl font-bold">Welcome, Student!</h1>
    <div class="flex flex-wrap justify-center mt-10">
        <a href="/student" class="block p-3 bg-purple-600 text-white rounded-lg m-2 w-48 hover:bg-blue-700 transition-colors duration-200">Home</a>
        <a href="/current_student/create" class="block p-3 bg-purple-600 text-white rounded-lg m-2 w-48 hover:bg-blue-700 transition-colors duration-200">Create Current Student</a>
        <a href="http://localhost/cee/cee/home.php" class="block p-3 bg-purple-600 text-white rounded-lg m-2 w-48 hover:bg-blue-700 transition-colors duration-200">Take Test</a>
        <!-- <a href="/current_student" class="block p-3 bg-blue-600 text-white rounded-lg m-2 w-48 hover:bg-blue-700 transition-colors duration-200">Read Current Student</a> -->
        <a href="/applyInterview" class="block p-3 bg-purple-600 text-white rounded-lg m-2 w-48 hover:bg-blue-700 transition-colors duration-200">Apply Interview</a>
        <a href="/student" class="block p-3 bg-purple-600 text-white rounded-lg m-2 w-48 hover:bg-blue-700 transition-colors duration-200">Navigation</a>
        <a href="/logout"  class="block p-3 bg-red-600 text-white rounded-lg m-2 w-48 hover:bg-red-700 transition-colors duration-200">Logout</a>
    </div></center>
    <center>
    <div class="about-section mt-10 text-center">
        <h2 class="text-2xl font-semibold">About</h2>
        <p class="mt-2">This is the Student navigation page. You can navigate through different sections and perform various Student tasks.</p>
        <img src="image1.jpg" alt="Student Navigation"
            class="mt-6 rounded-lg shadow-md" style="margin-left: 30%;">
    </div></center>
    <div class="footer fixed bottom-0 w-full bg-gray-800 text-white py-2 text-center">
        <p>&copy; 2024 SGBIT</p>
    </div>
</body>

</html>
